<div id = "complaint_form" style = "width: 600px; height: 1000px; background-color:black; color:white; z-index: 0; position: absolut; >

    <h1>Lodge a Complaint:</h1><br/>
<%= form_tag(contact_email_path, :method => 'post') do %>

    <div class="field">
        <%= label_tag "Subject" %>
        <br />
        <%= text_field_tag "subject", @subject %>
    </div>
    <div class="field">
        <%= label_tag "Message" %>
        <br />
        <%= text_area_tag "message", @message %>
    </div>
    <div class="action">
     <%= submit_tag "Send Email" %>
    </div>
<% end %>
</div>