<h4 class="chart-title">Noise Complaint Types</h4>
<div id="noise-complaints-chart" style="width: 280px;"></div>
<script>
	createNoiseComplaintDonut(<%= @music_counter %>, <%= @banging_counter %>, <%= @talking_counter %>, <%= @car_music_counter %>, <%= @tv_counter %>, <%= @horn_counter %>);
</script>