<div id="noise-complaints-chart" style="height: 250px;"></div>
<script>
	createNoiseComplaintDonut(<%= @music_counter %>, <%= @banging_counter %>, <%= @talking_counter %>, <%= @car_music_counter %>, <%= @tv_counter %>, <%= @horn_counter %>)
</script>