<div class = "ten columns">
	<div class = "five columns alpha">
		<%= render "noise_chart" %>
	</div>
	<div class = "five columns" %>
		<%= render "drinking_chart" %>
	</div>
</div>
<div class = "six columns">
		<%= render "squalor_chart" %>
</div>



<script>

 $(document).ready(function() {
	initMap(<%= @zip.latitude || 40 %>, <%= @zip.longitude || 40 %>);

	<% @display.each do |zip| %>
	
	addMarker(<%= zip["latitude"].to_f %>, <%= zip["longitude"].to_f %>, '<%= zip["descriptor"]%>');

	<% end %>

});
</script>