<h2 id = "aggregate-data-title">How Shitty Is This Neighborhood?</h2>
<div class = "ten columns">
	<div class = "five columns alpha">
		<%= render "noise_chart" %>
	</div>
	<div class = "five columns" %>
		<%= render "drinking_chart" %>
	</div>
</div>
<div class = "six columns">
	<%= render "squalor_chart" %>
</div>

<script>
	initMap(<%= @zip.latitude %>, <%= @zip.longitude %>)
</script>