<div class ="show-page sixteen columns">
	<%= render 'zipcodedash' %>

	<div class="sixteen columns aggregate" >
		<%= render "zip_aggregate_data" %>
	</div>

	<div class = "comments">
		<% @zip.comments.each do |comment| %>
					<%= render comment %>
		<% end %>
	</div>

		<div>
		<% if current_resident || current_official and @user.zipcode_id == @zip.id %>
			<%= render :partial => 'comments/form' %>
		<% end %>
		 <div class="search">	
				<%= render :partial => 'zipcodes/search' %>
		</div> 
	</div>
</div>