<<<<<<< HEAD
<div id = "signin"style =  "width: 600px; height: 400px; background-color:black; color:white; z-index: 0; top: 0; margin-left: 400px; position: absolute;" >
=======

<h2>Resident Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in" %></div>
<% end %>


</div>