<!DOCTYPE html>
<html>
<head>
  <title>NYCdata</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
 

  
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHUzVeRW_rNmOONKRJ01gbVWo_zCmSaOA&sensor=false"></script>
  <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.2.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
  <script src="http://cdn.oesmith.co.uk/morris-0.4.2.min.js"></script>

  <style type="text/css"><![CDATA[
      
      polygon.shape{
        fill:#fbfbfb;
        stroke:black;
        stroke-width:.5;
      }
      
      svg#svg-doc{
        margin-left: -180px;
        position:absolute;
        z-index: 1; 
        margin-top: 70px;
      }
    
      polygon.shape{
        fill:#fbfbfb;
        stroke:black;
        stroke-width:.5;
        z-index:0;
        position: absolute;
      }
       rect.shape{
        fill:#fbfbfb;
        stroke:black;
        stroke-width:.5;
      }
    ]]></style>

</head>
<body>
  <div id = "nav">
    <% if current_resident %>
      <h1 style = "color: white;"> Welcome Resident </h1>
    <% elsif current_official %>
      <h1 style = "color: white;"> Welcome Official </h1>
    <% end %>
    <% if current_resident %>
      <h1 id = "complaint" >Complaint Form</h1>
      <%= render :partial => 'zipcodes/complaint_form' %>
    <% end %>

    <% if resident_signed_in? %>
      <div class = "dashboard_link"><%= link_to('Logout', destroy_resident_session_path, :method => :delete) %>  
      </div>      
    <% end %>

    <% if official_signed_in? %>
      <h1 class = "dashboard_link">
        <%= link_to('Logout', destroy_official_session_path, :method => :delete) %>
      </h1>      
    <% end %>

    <% if current_resident || current_official %>

      <% if current_resident %>
      <% @user = current_resident %>
      <%elsif current_official %>
      <% @user = current_official %>
      <% end %>
      
      <h1 class = "dashboard_link"><%= link_to('Your Dashboard', zipcode_path(@user.zipcode.id)) %><h1>
    <% else %>
  <div id="form_wrapper" class="form_wrapper">
      <h1 class = "login" style = "float:left;"> Login </h1>
      <%= render :partial => 'users/resident_login' %>
      
      <%= render :partial => 'users/resident_signup' %>
      <h1 class = "official_login" style = "float:left;"> Official Login </h1>
      <%= render :partial => 'officials/official_login' %>
      <h1 class = "official_signup" style = "float:left; "> Official Signup </h1>
      <%= render :partial => 'officials/official_signup' %>
    <% end %>
</div>
  </div>



<div class= "container">
   <%= yield %>
</div>

</body>
</html>
